<form {{action "saveRecipe" on="submit"}}>
	<div class="row">
		<div class="columns">
			<label>Name
				{{input value=recipe.name}}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<label>Description
				{{textarea value=recipe.description}}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns small-4 medium-4 large-4">
			<label>Servings
				{{input value=recipe.servings type="number"}}
			</label>
		</div>
		<div class="columns small-4 medium-4 large-4">
			<label>Prep time (minutes)
				{{input value=recipe.prepTime type="number"}}
			</label>
		</div>
		<div class="columns small-4 medium-4 large-4">
			<label>Cook time (minutes)
				{{input value=recipe.cookTime type="number"}}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<label>Original Link
				{{input value=recipe.originalLink}}
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<a {{action "addIngredient"}} href="">
				{{fa-icon 'plus-circle'}} Ingredients<br />
			</a>
		</div>
	</div>
	{{#each ingredients as |ingredient|}}
		<div class="row">
			<div class="columns small-4 medium-4 large-4">
				<label>Quantity
					{{input value=ingredient.quantity type="number"}}
				</label>
			</div>
			<div class="columns small-4 medium-4 large-4">
				<label>Unit
					{{input value=ingredient.unit}}
				</label>
			</div>
			<div class="columns small-4 medium-4 large-4">
				<label>Ingredient
					{{input value=ingredient.name}}
				</label>
			</div>
		</div>
	{{/each}}
	<div class="row">
		<div class="columns">
			<a {{action "addStep"}} href="">
				{{fa-icon 'plus-circle'}} Steps<br />
			</a>
		</div>
	</div>
	{{#each steps as |step|}}
		<div class="row">
			<div class="columns">
				{{textarea value=step.description}}<br />
			</div>
		</div>
	{{/each}}
	<div class="row">
		<div class="columns">
			{{yield}}
		</div>
	</div>
</form>
