{{outlet}}
<h2>{{model.name}}</h2>
<p>{{model.description}}</p>
<ul>
	{{#each model.ingredients as |ingredient|}}
		<li>
			{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
		</li>
	{{/each}}
</ul>
