<div class="row">
	<div class="columns">
		{{#link-to 'recipes.edit' model}}
			{{fa-icon 'edit'}} Edit
		{{/link-to}}
	</div>
</div>
<div class="row">
	<div class="columns">
		<a href="#" {{action "deleteRecipe"}}>
			{{fa-icon 'trash-o'}} Delete
		</a>
	</div>
</div>
<div class="row">
	<div class="columns">
		<h2>{{model.name}}</h2>
		<p>Servings: {{model.servings}} | Prep time: {{model.prepTime}} minutes | Cook time: {{model.cookTime}}</p>
		<p>{{model.description}}</p>
		<strong>Ingredients</strong>
		<ul>
			{{#each model.ingredients as |ingredient|}}
				<li>
					{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
				</li>
			{{/each}}
		</ul>
		<strong>Steps</strong>
		{{#each model.steps as |step|}}
			<p>{{step.description}}</p>
		{{/each}}
		<a href="{{model.originalLink}}" target="_blank">
			Link
		</a>
	</div>
</div>
